@font-face {
    font-family: 'Permanent Marker';
    font-style: cursive;
    font-weight: 400;
    src: url('/fonts/permanent-marker-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/permanent-marker-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/permanent-marker-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/permanent-marker-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/permanent-marker-v10-latin-regular.svg#PermanentMarker') format('svg'); /* Legacy iOS */
         font-display: block
}